.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#titleContainer {
  text-align: center;
}

#agreementTitle {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

#subTitle {
  font-size: 12px;
}

input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
}

#email {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 14px;
}

#signInBtn {
  width: 100%;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
  border: none;
}

#closeIcon {
  font-size: 20px;
  /* background-color: yellow; */
  width: 22px;
  height: 22px;
  margin-left: 95%;
  cursor: pointer;
}

#closeIconBtn {
  width: 30px;
  background-color: yellow;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.agreementOverlayContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

/* .parteners {
  text-align: center;
} */

#SwapSkillBox {
  height: 35px;
  border-radius: 10px;
  margin-top: 5px;
  width: 200px;
}

.nameTitle {
  text-align: center;
}
#datePicker {
  border-radius: 10px;
  width: 98%;
  height: 35px;
  margin-top: 5px;
}

.dateSection {
  margin-top: 10px;
}

#selectedDate {
  font-size: 12px;
}

#agreeBtn {
  width: 100%;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
  border: none;
  margin-top: 20px;
}

#agreeBtn:hover {
  background-color: rgb(197, 135, 255);
  color: white;
}
