.messageInput {
  display: grid;
  grid-template-columns: 10fr 1fr; /* Two equal columns */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
}

.input {
  background-color: white;
  padding-right: 20px;
}

#messageText {
  height: 80%;
  width: 100%;
  font-size: 14px;
}

#sendIcon {
  padding-top: 15%;
  padding-left: 20%;
}

#sendIcon:hover {
  transform: scale(1.07);
  transition: all 0.3s ease;
  cursor: pointer;
}
