.messageInput {
  display: grid;
  grid-template-columns: 6fr 1fr; /* Two equal columns */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
}

.input {
  background-color: white;
  padding-right: 20px;
}

#messageText {
  height: 80%;
  width: 100%;
  font-size: 14px;
}

.sendBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5px;
  padding-top: 5px;
}

.sendIcon {
  align-self: center;
  align-content: center;
}

#sendIcon {
  width: 40px;
}

.agreementIcon {
  align-self: center;
  align-content: center;
}

#sendIcon:hover {
  transform: scale(1.07);
  transition: all 0.3s ease;
  cursor: pointer;
}
